@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
  background: #000000;
  color: #ffffff;
  font-family: 'Comfortaa', cursive;
  min-height: 100vh;
  background-image: linear-gradient(#ff005f, #0d005f);
}

a:link {
  color: #00ffc4;
  text-decoration: none;
}

a:visited {
  color: #00ffc4;
  text-decoration: none;
}

a:hover {
  color: #ff005f;
  text-decoration: none;
}

a:active {
  color: #00ffc4;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
	flex-wrap: nowrap;
	justify-content: left;
	align-items: center;
	align-content: space-around;
  background-image: linear-gradient(to bottom right, #00ffc4, #0d005f);
  padding: 1vmax;
  height: 10vmax;
  font-size: 1.5vmax;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8vmax;
  height: 8vmax;
  border-radius: 100%;
  background-color: #000000;
  color: #00ffc4;
  font-size: 2vmax;
}

main {
  display: flex;
  flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
}

#subMain {
  background-color: #000000;
  border-radius: 2vmax;
  margin: 2vmax;
  padding: 1vmax;
  width: 80%;
}

footer {
  position: sticky;
  top: 100%;
  padding: 1vmax;
  background: #000000;
}

p {
  margin: 2vmax;
}

h1 {
  margin: 2vmax;
  font-weight: bold;
}

h2 {
  margin: 2vmax;
  font-weight: bold;
}

h3 {
  margin: 2vmax;
  font-weight: bold;
}

h4 {
  margin: 2vmax;
  font-weight: bold;
}

h5 {
  margin: 2vmax;
  font-weight: bold;
}

h6 {
  margin: 2vmax;
  font-weight: bold;
}

.logo {
  width: 4vmax;
  filter: invert();
}

#info {
  text-align:justify;
}

#websites {
  display: flex;
  flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
  padding: 1vmax;
}

#youtube {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
	align-items: center;
	align-content: space-around;
  width: 15vmax;
  height:15vmax;
  background: #0d005f;
  border-radius: 2vmax;
  padding: 1vmax;
  margin: 2vmax;
  font-size: 2vmax;
  color: #ffffff;
}
#youtube:hover{
  background-image: linear-gradient(to bottom right, #00ffc4, #0d005f);
}

#soundcloud {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
	align-items: center;
	align-content: space-around;
  width: 15vmax;
  height:15vmax;
  background: #0d005f;
  border-radius: 2vmax;
  padding: 1vmax;
  margin: 2vmax;
  font-size: 2vmax;
  color: #ffffff;
}

#soundcloud:hover{
  background-image: linear-gradient(to bottom right, #00ffc4, #0d005f);
}

#instagram {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
	align-items: center;
	align-content: space-around;
  width: 15vmax;
  height:15vmax;
  background: #0d005f;
  border-radius: 2vmax;
  padding: 1vmax;
  margin: 2vmax;
  font-size: 2vmax;
  color: #ffffff;
}

#instagram:hover{
  background-image: linear-gradient(to bottom right, #00ffc4, #0d005f);
}

#madeBy {
  font-size: 1vmax;
}

