@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
  background: #000000;
  color: #ffffff;
  font-family: 'Comfortaa', cursive;
  min-height: 100vh;
}

a:link {
  color: #00ffc4;
  text-decoration: none;
}

a:visited {
  color: #00ffc4;
  text-decoration: none;
}

a:hover {
  color: #ff005f;
  text-decoration: none;
}

a:active {
  color: #00ffc4;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
	flex-wrap: nowrap;
	justify-content: left;
	align-items: center;
	align-content: space-around;
  background-image: linear-gradient(to bottom right, #00ffc4, #0d005f);
  padding: 10px;
}

main {
  display: flex;
  flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
}

#subMain {
    margin: 10px;
    padding: 10px;
    width: 80%;
}

footer {
  position: sticky;
  top: 100%;
  padding: 10px;
  background: #0d005f;
}

p {
  margin: 10px;
}

h1 {
  margin: 10px;
  font-weight: bold;
}

h2 {
  margin: 10px;
  font-weight: bold;
}

h3 {
  margin: 10px;
  font-weight: bold;
}

h4 {
  margin: 10px;
  font-weight: bold;
}

h5 {
  margin: 10px;
  font-weight: bold;
}

h6 {
  margin: 10px;
  font-weight: bold;
}


#logo {
  border-radius: 100%;
}

.logo {
  width: 50px;
}

#info {
  text-align:justify;
}

#websites {
  display: flex;
  flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
  padding: 10px;
}

#youtube {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
	align-items: center;
	align-content: space-around;
  width: 20%;
  height:200px;
  background: #0d005f;
  border-radius: 10px;
  padding: 10px;
}

#soundcloud {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
	align-items: center;
	align-content: space-around;
  width: 20%;
  height:200px;
  background: #0d005f;
  border-radius: 10px;
  padding: 10px;
}

#instagram {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
	align-items: center;
	align-content: space-around;
  width: 20%;
  height:200px;
  background: #0d005f;
  border-radius: 10px;
  padding: 10px;
}

#madeBy {
  font-size: 10px;
}
